#####Serveur configuration###

#keycloak
/serveur/keycloak/*
!/serveur/keycloak/realm-yaba-in.json

#krakend
/serveur/krakend/*
!serveur/krakend/krakend.json

#mysql
/serveur/mysql/*

#neo4j
/serveur/neo4j/*

#rabbitmq
/serveur/rabbitmq/*

#redis
/serveur/redis/*

#### Micro-Service App config###
/services/user-profil-service/*
!/services/frontend-recherche/Dockerfile

/services/IA-Decideur/*
!/services/IA-Decideur/Dockerfile

/services/indexeur/*
!/services/indexeur/Dockerfile

